// Basic Light
$text-primary-light: #0f172a;
$background-primary-light: #fff;

$text-secondary-light: #4b5563;
$background-secondary-light: #f8fafc;

$text-muted-light: #a3a3a3;

$border-light: #e5e7eb;
$border-hover-light: #94a3b8;
$border-focus-light: #0ea5e9;

// Basic Dark
$text-primary-dark: #fff;
$background-primary-dark: #020617;

$text-secondary-dark: #9ca3af;
$background-secondary-dark: #0f172a;

$text-muted-dark: #6b7280;

$border-dark: #1f2937;
$border-hover-dark: #475569;
$border-focus-dark: #0369a1;

// Contract Highlight Colors
$text-green-light: #047857;
$text-green-dark: #d1fae5;
$background-green-light: #d1fae5;
$background-green-dark: #064e3b;
$border-green-light: #a7f3d0;
$border-green-dark: #047857;

$text-yellow-light: #a16207;
$text-yellow-dark: #fef9c3;
$background-yellow-light: #fefce8;
$background-yellow-dark: #854d0e;
$border-yellow-light: #fde047;
$border-yellow-dark: #ca8a04;

$text-grey-light: #374151;
$text-grey-dark: #e5e7eb;
$background-grey-light: #f3f4f6;
$background-grey-dark: #1f2937;
$border-grey-light: #d1d5db;
$border-grey-dark: #374151;
