// Basic Light
$primary-text-light: #0f172a;
$primary-background-light: #fff;

$secondary-text-light: #4b5563;
$secondary-background-light: #f8fafc;

$border-light: #e5e7eb;

// Basic Dark
$primary-text-dark: #fff;
$primary-background-dark: #020617;

$secondary-text-dark: #9ca3af;
$secondary-background-dark: #0f172a;

$border-dark: #1f2937;

// Contract Highlight Colors
$green-text-light: #047857;
$green-text-dark: #a7f3d0;
$green-background-light: #d1fae5;
$green-background-dark: #064e3b;
$green-border-light: #a7f3d0;
$green-border-dark: #047857;

$yellow-text-light: #a16207;
$yellow-text-dark: #fef9c3;
$yellow-background-light: #fefce8;
$yellow-background-dark: #854d0e;
$yellow-border-light: #fef08a;
$yellow-border-dark: #ca8a04;

$grey-text-light: #374151;
$grey-text-dark: #f3f4f6;
$grey-background-light: #f3f4f6;
$grey-background-dark: #1f2937;
$grey-border-light: #d1d5db;
$grey-border-dark: #374151;
