@use './colors.scss' as colors;

html,
body {
    margin: 0;
    padding: 0;

    * {
        box-sizing: border-box;
    }
}

body {
    background-color: colors.$background-primary-light;
    color: colors.$text-primary-light;

    @media (prefers-color-scheme: dark) {
        background-color: colors.$background-primary-dark;
        color: colors.$text-primary-dark;
    }
}

.created {
    color: colors.$text-green-light;
    background-color: colors.$background-green-light;
    border: 1px solid colors.$border-green-light;

    @media (prefers-color-scheme: dark) {
        color: colors.$text-green-dark;
        background-color: colors.$background-green-dark;
        border-color: colors.$border-green-dark;
    }
}

.ordered {
    color: colors.$text-yellow-light;
    background-color: colors.$background-yellow-light;
    border: 1px solid colors.$border-yellow-light;

    @media (prefers-color-scheme: dark) {
        color: colors.$text-yellow-dark;
        background-color: colors.$background-yellow-dark;
        border-color: colors.$border-yellow-dark;
    }
}

.delivered {
    color: colors.$text-grey-light;
    background-color: colors.$background-grey-light;
    border: 1px solid colors.$border-grey-light;

    @media (prefers-color-scheme: dark) {
        color: colors.$text-grey-dark;
        background-color: colors.$background-grey-dark;
        border-color: colors.$border-grey-dark;
    }
}
