@use '../../shared/global-styles/colors' as colors;

.contractCard {
    width: 100%;
    max-width: 300px;
    min-width: 280px;
    padding: 30px;
    background-color: colors.$background-secondary-light;
    border: 1px solid colors.$border-light;
    border-radius: 3px;
    position: relative;

    @media (prefers-color-scheme: dark) {
        background-color: colors.$background-secondary-dark;
        border-color: colors.$border-dark;
    }
}

.contractHolder {
    font-size: large;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 30px;
}

.contractLink {
    position: absolute;
    right: 30px;
    top: 25px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    color: colors.$text-secondary-light;
    border: 1px solid colors.$border-light;
    padding: 5px 10px;
    border-radius: 3px;

    &:hover {
        color: colors.$text-primary-light;
        border-color: colors.$border-grey-light;
    }

    @media (prefers-color-scheme: dark) {
        color: colors.$text-secondary-dark;
        border-color: colors.$border-dark;

        &:hover {
            color: colors.$text-primary-dark;
            border-color: colors.$border-grey-dark;
        }
    }
}

.contractNumber {
    font-size: smaller;
    margin: 0;
    color: colors.$text-secondary-light;

    @media (prefers-color-scheme: dark) {
        color: colors.$text-secondary-dark;
    }
}

.contractGrid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    align-items: center;
}

.contractKey {
    color: colors.$text-secondary-light;
    margin: 0;

    @media (prefers-color-scheme: dark) {
        color: colors.$text-secondary-dark;
    }
}

.contractValue {
    color: colors.$text-primary-light;
    margin: 0;

    @media (prefers-color-scheme: dark) {
        color: colors.$text-primary-dark;
    }
}

.contractStatus {
    margin: 0;
    text-transform: uppercase;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
